body {
    font-size: 16px;
    background-image: url('img/back.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.green {
    color: rgb(38, 173, 56);
}
li {
    background-color: rgba(184, 227, 247, 0.616);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.card {
    margin-top: 140px;
    padding: 30px;
    background-color: #cdd8c9;
}